@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-abyss text-text-primary antialiased;
  }
}

@layer components {
  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-deep;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border-subtle rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-border-active;
  }
}
